<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include("includes/common-imports") %>
    <title>Quiz App</title>
</head>

<body>
  <header>
    <%- include("includes/navbar") %>
  </header>

  <main class="mw-70-rem mx-auto p-3">
    <div class="text-center">
      <h1 class="mb-3">Welcome to the Quiz App!</h1>
      <p>
        Test your knowledge by answering trivia questions and see how many you get correct!
        <br>
        Answer them as quickly as possible and getyour score at the end.
      </p>
    </div>

    <form class="my-5" action="/quiz" method="GET">
      <label class="form-label">How many questions do you wish to be presented with?</label>
      <input type="number" class="form-control mb-2" name="num-questions" value="10" min="1" required>
      <button type="submit" class="btn btn-primary">Start Quiz</button>
    </form>
  </main>
</body>

</html>
