<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%- include("includes/common-imports") %>
    <title>Quizzer</title>
</head>

<body>
  <main class="mw-70-rem mx-auto p-3">
    <div class="text-center my-3">
      <h1>Welcome to the Quiz App!</h1>
      <p>Test your knowledge by answering 10 questions and see how many you get correct!</p>
      <a href="/quiz" class="btn btn-primary">Start Quiz</a>
    </div>

    <div>
      <div class="text-center">
        <h2>How it works</h2>
        <p>Once you start the quiz, you will be presented with 10 questions. Answer them as quickly as possible and get
          your score at the end.</p>
      </div>
    </div>
  </main>
</body>

</html>
